
body{
    margin: 0;
    overflow-x: hidden;
    background-color: #f1f1f1;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: 30px;
}
.menu-container {
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    overflow: hidden;
    transition: width 0.5s;
  }
  
.sidenav {
    align-items: flex-end;
    height: 100%;
    width: 40%; /* Ajusta este porcentaje según lo necesites */
    background-color: #abbbad;
    padding: -0 50px 0 30px;
    transition: width 0.5s;
    display: flex;
    flex-direction: column;
    row-gap: 35px;
  }
  
  .noClose {
    padding-left: 20px;
    text-decoration: none;
    font-size: 1.8em;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .botonX {
    display: flex;
    width: 100%;
}

.closebtn {
    border-radius: 100%;
    color:#818181;
    font-size: 3em;
    text-decoration: none;
  }
  footer, #pie{
    box-sizing: border-box;
    padding: 7px 5%;
    height: 30vh;
    width: 100%;
    background-color: #818181;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: space-between;
  }

  body::-webkit-scrollbar{
    width: 8px;
    background-color: #848589;
  }

  body::-webkit-scrollbar-thumb  {
    background-color: rgb(202, 218, 224);
  }

  #into, #intopoli {
    display: none;
    height: 100vh;
    width: 100vw;
    background-color: rgba(129, 129, 129, 0.38); /* Ajuste de color con opacidad */
    position:fixed;
    top: 0;
    left: 0;
    align-content: center;
}
.termPoli{
  color: rgb(80, 23, 104);
  cursor: pointer;
}
span{cursor: pointer;}
.into-content {
    background-color: #f1f1f1;
    height: 80vh;
    width: 70vw;
    margin: auto;
    overflow-y: auto; /* Añade scroll vertical si el contenido es demasiado grande */
    padding: 20px;
}

.term-container {
    box-sizing: border-box;
}
